<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.growingio.android.test"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <supports-screens
        android:anyDensity="false"
        android:largestWidthLimitDp="360"
        android:requiresSmallestWidthDp="360"
        android:resizeable="false"
        android:xlargeScreens="true"/>

    <application
        android:name=".TestApplication"
        android:allowBackup="true"
        android:icon="@drawable/splash"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:label="SplashActivity"
            android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.growingio.android.GConfig.TestMode"
            android:value="true"/>
        <meta-data
            android:name="com.growingio.android.GConfig.EnableTagEdit"
            android:value="true"/>
        <meta-data
            android:name="com.growingio.android.GConfig.SessionInterval"
            android:value="3000"/>

        <activity
            android:label="MainActivity"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>


                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity 
            android:label="ListViewActivity"
            android:name=".ListViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>


                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity 
            android:label="RecyclerListActivity"
            android:name=".RecyclerListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>


                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity 
            android:label="ActivityWithDialog"
            android:name=".ActivityWithDialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>


                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity 
            android:label="PopupWindowActivity"
            android:name=".PopupWindowActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>


                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity 
            android:label="ComplexListViewActivity"
            android:name=".ComplexListViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>


                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ExpandableListViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>


                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".BannerActivity"
            android:label="@string/title_activity_banner"
            android:theme="@style/AppTheme">
            <action android:name="android.intent.action.MAIN"/>

            <category android:name="android.intent.category.DEFAULT"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </activity>
        <activity android:name=".ScrollerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
        </activity>


    </application>

</manifest>
